@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

/* header component */
.header {
  background: #4a90e2;
  color: #fff;
  height: 60px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  font-weight: bold;
}
