@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

/* global styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

/* header component */
.header {
  background: #4a90e2;
  color: #fff;
  height: 60px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* postlist component */
.post-list {
  display: flex;
  justify-content: center;
  background: F2F2F2;
}

/* post component */
.post {
  max-width: 900px;
  width: 70%;
  padding: 15px;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #888;
}

.post-author {
  display: flex;
  align-items: center;
}
.post-author > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
}

.author-info > div {
  font-weight: bold;
  line-height: 22px;
}

.post-message {
  padding: 15px;
}
